<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.csjbot.robot.biz.scs.dao.ScsDishLinkDao">
	<resultMap id="BaseResultMap" type="com.csjbot.robot.biz.scs.model.ScsDishLink">
		<result property="id" column="id" jdbcType="CHAR" />
		<result column="shop_fk" property="shop_fk" jdbcType="CHAR"/>
		<result column="sn" property="sn" jdbcType="VARCHAR" />
		<result column="dish_id" property="dish_id" jdbcType="CHAR" />
		<result column="valid" property="valid" jdbcType="TINYINT" />
		<result column="validT" property="validT" jdbcType="BOOLEAN" />
		<result column="checked" property="checked" jdbcType="BOOLEAN" />
		<result column="updater_fk" property="updater_fk" jdbcType="CHAR" />
		<result column="creator_fk" property="creator_fk" jdbcType="CHAR" />
		<result column="date_update" property="date_update" jdbcType="TIMESTAMP" />
		<result column="date_create" property="date_create" jdbcType="TIMESTAMP" />
	</resultMap>

	<resultMap id="dishPermission" type="java.util.HashMap">
		<result property="checked" column="checked" javaType="BOOLEAN"  jdbcType="TINYINT"/>
		<result property="shop_fk" column="shop_fk" jdbcType="CHAR"/>
		<result property="type_name" column="type_name" jdbcType="VARCHAR"/>
		<result property="sn" column="sn" jdbcType="VARCHAR" />
		<result property="dish_id" column="dish_id" jdbcType="VARCHAR" />
		<result property="dish_name" column="dish_name" jdbcType="VARCHAR"/>
		<result property="status" column="status" jdbcType="TINYINT"/>
		<result property="price" column="price" jdbcType="DECIMAL" />
		<result property="memo" column="memo" jdbcType="VARCHAR"/>
	</resultMap>

	<sql id="Base_Column_List">
		id, sn, dish_id, valid, updater_fk, creator_fk,
		date_update,
		date_create
	</sql>

	<select id="selectDishSNAll" resultMap="BaseResultMap">
		SELECT
		r.id,r.sn,r.dish_id,d.name
		dish_name,r.valid,r.updater_fk,r.creator_fk,
		r.date_create,r.date_update
		FROM
		scs_dish_robot_ref r
		LEFT JOIN
		scs_dish_info d ON d.id = r.dish_id
		WHERE r.valid = 1
	</select>

	<insert id="insert" parameterType="com.csjbot.robot.biz.scs.model.ScsDishLink">
		INSERT INTO
		scs_dish_robot_ref(id,
		sn,
		dish_id,
		validT,
		updater_fk,
		creator_fk,
		date_update, date_create)
		VALUES
		(#{id,jdbcType=CHAR},
		#{sn,jdbcType=VARCHAR},
		#{dish_id,jdbcType=CHAR},
		#{validT,jdbcType=BOOLEAN},
		#{updater_fk,jdbcType=CHAR},
		#{creator_fk,jdbcType=CHAR},
		#{date_update},
		#{date_create})
	</insert>

	<update id="update" parameterType="com.csjbot.robot.biz.scs.model.ScsDishLink">
		UPDATE
		scs_dish_robot_ref
		SET
		dish_id=#{dish_id,jdbcType=CHAR},
		validT=#{validT,jdbcType=BOOLEAN},
		updater_fk=#{updater_fk,jdbcType=CHAR},
		date_update=#{date_update}
		WHERE id=#{id,jdbcType=CHAR}
	</update>

	<select id="selectByPK" resultMap="BaseResultMap" parameterType="map">
		SELECT
		r.id,r.sn,r.dish_id,d.name
		dish_name,r.valid,r.updater_fk,r.creator_fk,
		r.date_create,r.date_update
		FROM
		scs_dish_robot_ref r
		LEFT JOIN
		scs_dish_info d ON d.id = r.dish_id
		WHERE id = #{id,jdbcType=CHAR}
	</select>

	<select id="selectPKBySN" parameterType="map" resultMap="BaseResultMap">
		SELECT id 
		FROM scs_dish_robot_ref 
		WHERE sn = #{sn,jdbcType=VARCHAR}
	</select>

	<select id="selectBySN" resultMap="BaseResultMap" parameterType="map">
		SELECT
		r.id,r.sn,r.dish_id,d.name
		dish_name,r.valid,r.updater_fk,r.creator_fk,
		r.date_create,r.date_update
		FROM
		scs_dish_robot_ref r
		LEFT JOIN
		scs_dish_info d ON d.id = r.dish_id
		WHERE sn = #{sn,jdbcType=VARCHAR}
	</select>

	<select id="page" parameterType="map" resultMap="BaseResultMap">
		SELECT sn
		FROM scs_dish_robot_ref WHERE valid = 1
		<if test="sn != null and sn !=''">
			AND sn LIKE CONCAT('%', #{sn},'%')
		</if>
		Group BY sn
	</select>
	
	<!-- 
	<select id="listDish" parameterType="map" resultMap="dishPermission">
		SELECT * FROM
		(SELECT a.id , IFNULL(a.valid = 1, 0) AS checked,u.id AS
		robot_id,
		u.valid AS STATUS,u.sn AS sn,i.name AS dish_name,u.type AS
		TYPE,a.date_create,a.date_update
		FROM (SELECT * FROM cms_robot
		WHERE
		valid=1) AS u
		LEFT JOIN
		scs_dish_robot_ref AS a
		ON u.sn = a.sn
		LEFT JOIN
		scs_dish_info AS i
		ON i.id = a.dish_id
		AND
		a.sn = #{sn}) AS tbl
		<where>
			<if test="sn != null and sn != ''">
				AND tbl.sn LIKE CONCAT(CONCAT('%', #{sn}), '%')
			</if>
			<if test="type_name != null and type_name != ''">
				AND tbl.type_name LIKE CONCAT(CONCAT('%', #{type_name}),
				'%')
			</if>
		</where>
		ORDER BY tbl.checked DESC;
	</select>
	-->
	<!-- 
	<select id="listDish" parameterType="map" resultMap="dishPermission">
		SELECT
			d.id AS dish_id,
			r.sn,
			d.shop_fk,
			t.type_name,
			d.NAME AS dish_name,
			IFNULL(d.valid = 1, 0) AS checked,
			d.valid AS status,
			d.price,
			d.memo
		FROM scs_dish_info d
		LEFT JOIN cms_robot r
		ON d.shop_fk = r.shop_fk
		LEFT JOIN scs_dish_type t
		ON d.dish_type=t.id
		WHERE r.sn=#{sn,jdbcType=VARCHAR}
		ORDER BY checked DESC;
	</select>
	-->
	
	<select id="listDish" parameterType="map" resultMap="dishPermission">
		SELECT
			d.id AS dish_id,
			r.sn,
			d.shop_fk,
			t.type_name,
			d. NAME AS dish_name,
			IFNULL(d.valid = 1, 0) AS checked,
			d.valid AS STATUS,
			d.price,
			d.memo
		FROM scs_dish_info d
		LEFT JOIN cms_robot r ON d.shop_fk = r.shop_fk
		LEFT JOIN scs_dish_type t ON d.dish_type = t.id
		WHERE
			d.shop_fk = (
			SELECT shop_fk FROM cms_robot
			WHERE sn = #{sn,jdbcType=VARCHAR})
		GROUP BY d.NAME
		ORDER BY checked DESC
	</select>
	
	
	<select id="countDishLinkSize" parameterType="map" resultType="int">
		SELECT COUNT(d.id) AS amount
		FROM scs_dish_info d, cms_robot r
		WHERE d.valid = 1
		AND r.valid = 1
		AND d.shop_fk= r.shop_fk
		AND r.sn = #{sn,jdbcType=VARCHAR}
	</select>

	<select id="getDish" parameterType="map" resultMap="BaseResultMap">
		SELECT
		r.id,r.sn,r.dish_id,d.name
		dish_name,r.valid,r.updater_fk,r.creator_fk,
		r.date_create,r.date_update
		FROM
		scs_dish_robot_ref r
		LEFT JOIN
		scs_dish_info d ON d.id = r.dish_id
		WHERE r.id = #{id,jdbcType=CHAR}
	</select>

	<!-- API接口 -->
	<select id="selectDishIdBySN" parameterType="map" resultMap="BaseResultMap">
		SELECT r.dish_id
		FROM
		scs_dish_robot_ref r
		LEFT JOIN
		scs_dish_info d ON
		d.id = r.dish_id
		WHERE sn = #{sn,jdbcType=VARCHAR}
	</select>

</mapper>