<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.csjbot.robot.biz.scs.dao.ScsDishDAO">
	<resultMap id="BaseResultMap" type="com.csjbot.robot.biz.scs.model.ScsDish">
		<id column="id" property="id" jdbcType="CHAR" />
		<result column="dish_type" property="dish_type" jdbcType="TINYINT" />
		<result column="type_name" property="type_name" jdbcType="VARCHAR" />
		<result column="shop_fk" property="shop_fk" jdbcType="VARCHAR" />		
		<result column="shop_name" property="shop_name" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="memo" property="memo" jdbcType="VARCHAR" />
		<result column="valid" property="valid" jdbcType="TINYINT" />
		<result column="price" property="price" jdbcType="DECIMAL" />
		<result column="updater_fk" property="updater_fk" jdbcType="CHAR" />
		<result column="creator_fk" property="creator_fk" jdbcType="CHAR" />
		<result column="date_update" property="date_update" jdbcType="TIMESTAMP" />
		<result column="date_create" property="date_create" jdbcType="TIMESTAMP" />
	</resultMap>

	<sql id="Base_Column_List">
		id, dish_type, shop_fk, name, memo, valid, price, updater_fk,
		creator_fk,
		date_update,date_create
	</sql>

	<select id="page" parameterType="map" resultMap="BaseResultMap">
<!-- 		select -->
<!-- 		<include refid="Base_Column_List" /> -->
<!-- 		from scs_dish_info where valid = 1  -->

	        select 
	        a.id, b.type_name, a.name, c.shop_name, a.memo, a.valid, a.price, a.date_create
	        from scs_dish_info a 
	        join scs_dish_type b on a.dish_type=b.id
	        join scs_shop c on a.shop_fk=c.id
	        where a.valid = 1
		<if test="name != null and name !=''">
			and name LIKE CONCAT('%', #{name},'%')
		</if>
		<if test="shop_name != null and shop_name !=''">
			and shop_fk IN (SELECT id FROM scs_shop WHERE shop_name LIKE CONCAT('%', #{shop_name},'%'))
		</if>
		<if test="dish_type != null and dish_type !='' and dish_type != '-1' ">
			and dish_type LIKE CONCAT('%', #{dish_type},'%')
		</if>		
	</select>

	<delete id="delete" parameterType="map">
		delete from scs_dish_info
		where id = #{id,jdbcType=CHAR}
	</delete>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="map">
		select
		<include refid="Base_Column_List" />
		from scs_dish_info
		where id = #{id,jdbcType=CHAR}
	</select>
	<select id="selectByName" resultMap="BaseResultMap"
		parameterType="map">
		select
		<include refid="Base_Column_List" />
		from scs_dish_info
		where name = #{name,jdbcType=VARCHAR}
	</select>
	<insert id="insert" parameterType="com.csjbot.robot.biz.scs.model.ScsDish">
		insert into scs_dish_info (id,
		dish_type, name, memo, valid, price,
		updater_fk, creator_fk,
		date_update,date_create,shop_fk)
		values (#{id,jdbcType=CHAR},
		#{dish_type,jdbcType=TINYINT},
		#{name,jdbcType=VARCHAR},
		#{memo,jdbcType=VARCHAR}, 1,
		#{price,jdbcType=DECIMAL},#{updater_fk,jdbcType=CHAR},#{creator_fk,jdbcType=CHAR},now(),
		now(),#{shop_fk,jdbcType=CHAR})
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.csjbot.robot.biz.scs.model.ScsDish">
		update scs_dish_info
		<set>
			<if test="dish_type != null">
				dish_type = #{dish_type,jdbcType=TINYINT},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="price != null">
				price = #{price,jdbcType=DECIMAL},
			</if>
			<if test="shop_fk != null">
				shop_fk = #{shop_fk,jdbcType=VARCHAR},
			</if>			
			<if test="memo != null">
				memo = #{memo,jdbcType=VARCHAR},
			</if>
			<if test="valid != null">
				valid = #{valid,jdbcType=TINYINT},
			</if>
			<if test="updater_fk != null">
				updater_fk = #{updater_fk,jdbcType=CHAR},
			</if>
			<if test="creator_fk != null">
				creator_fk = #{creator_fk,jdbcType=CHAR},
			</if>
                date_update = now(),
			<if test="date_create != null">
				date_create = #{date_create,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=CHAR}
	</update>
	<!--api接口添加-->
	<select id="selectAll" resultMap="BaseResultMap">
		select * from scs_dish_info where valid = 1
	</select>
	<!-- 按SN查询DISH -->
	<select id="selectBySn" resultMap="BaseResultMap">
			select *  from scs_dish_info where shop_fk=
				(select robot.shop_fk from  cms_robot robot
				inner join  scs_shop shop on robot.shop_fk=shop.id
				where robot.sn=#{sn})
	</select>
</mapper>

