<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
  xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
  xmlns:util="http://www.springframework.org/schema/util" xmlns:lang="http://www.springframework.org/schema/lang"
  xsi:schemaLocation="
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

<!-- 项目classpath -->
<context:property-placeholder ignore-resource-not-found="false" location="classpath*:/jdbc.properties" />
<util:properties id="appconfig" location="classpath:config.properties"/>
<!-- 服务器  linux-->
<!-- <context:property-placeholder ignore-resource-not-found="false" location="file:/opt/config/jdbc.properties" />
<util:properties id="appconfig" location="file:/opt/config/config.properties"/>  -->


<bean id="parentDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
</bean>


  <bean id="csjbotdb" parent="parentDataSource">
		<property name="driverClassName" value="${jdbc.driver}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
  </bean>

  <bean id="csj_blackduckzhou" parent="parentDataSource">
		<property name="driverClassName" value="${jdbc.driver}" />
		<property name="url" value="${jdbcDe.url}" />
		<property name="username" value="${jdbcDe.username}" />
		<property name="password" value="${jdbcDe.password}" />
  </bean>



	<bean class="com.csjbot.robot.biz.datasource.DynamicDataSource" id="dataSource">
    <property name="targetDataSources">
       <map key-type="java.lang.String">
           <entry value-ref="csjbotdb" key="csjbotdb"></entry>
           <entry value-ref="csj_blackduckzhou" key="csj_blackduckzhou"></entry>
       </map>
    </property>
    <property name="defaultTargetDataSource" ref="csjbotdb" ></property>
</bean>
</beans>
