<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mybatis="http://mybatis.org/schema/mybatis-spring"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring.xsd"
>

    <import resource="spring-resource.xml"/>

    <context:component-scan base-package="com.csjbot.robot.biz">
        <context:include-filter type="regex" expression=".*\.service\..*"/>
    </context:component-scan>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="classpath:sqlmap-config.xml"/>
        <!--<property name="typeAliasesPackage" value="com.csjbot.robot.biz.*.model"/>-->
        <property name="mapperLocations" value="classpath*:/com/csjbot/robot/biz/**/mapper/*.xml"/>
    </bean>

    <!-- 引入 mybatis mappers -->
    <mybatis:scan base-package="com.csjbot.robot.biz.**.dao"/>

    <!-- 引入 tkmybatis特定mappers -->
    <bean class="tk.mybatis.spring.mapper.MapperScannerConfigurer">
        <!--引入要扫描mapper的包，但BaseDao不能放在该扫描路径下-->
        <property name="basePackage" value="com.csjbot.robot.biz.**.dao"/>
        <property name="markerInterface" value="com.csjbot.robot.biz.base.BaseDAO"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
        <property name="properties">
            <value>
                mappers = com.csjbot.robot.biz.base.BaseDAO
                IDENTITY = MYSQL
            </value>
        </property>
    </bean>

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true"/>

</beans>
