<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.csjbot.robot.biz.pms.dao.PmsAdvertisementDao">
	<resultMap id="BaseResultMap"
		type="com.csjbot.robot.biz.pms.model.PmsAdvertisement">
		<id column="id" property="id" jdbcType="CHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="memo" property="memo" jdbcType="VARCHAR" />
		<result column="type" property="type" jdbcType="TINYINT" />
		<result column="valid" property="valid" jdbcType="TINYINT" />
		<result column="updater_fk" property="updater_fk" jdbcType="CHAR" />
		<result column="creator_fk" property="creator_fk" jdbcType="CHAR" />
		<result column="date_update" property="date_update" jdbcType="TIMESTAMP" />
		<result column="date_create" property="date_create" jdbcType="TIMESTAMP" />
	</resultMap>

	<sql id="Base_Column_List">
		id, name, memo, type, valid, updater_fk, creator_fk, date_update,
		date_create
	</sql>

	<select id="page" parameterType="map" resultMap="BaseResultMap">
		SELECT id, name, memo, type,
		valid, updater_fk, creator_fk,
		date_update, date_create
		FROM pms_advertisement
		WHERE valid = 1
		<if test="name != null and name !=''">
			AND ( upper(`name`) LIKE CONCAT('%', #{name},'%'))
		</if>
	</select>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="map">
		SELECT
		<include refid="Base_Column_List" />
		FROM pms_advertisement
		WHERE id = #{id,jdbcType=CHAR}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="map">
		DELETE FROM pms_advertisement
		WHERE id = #{id,jdbcType=CHAR}
	</delete>

	<insert id="insert" parameterType="com.csjbot.robot.biz.pms.model.PmsAdvertisement">
		INSERT INTO pms_advertisement (id, name, memo, type,valid, updater_fk,
		creator_fk,
		date_update, date_create)
		VALUES (#{id,jdbcType=CHAR}, #{name,jdbcType=VARCHAR},
		#{memo,jdbcType=VARCHAR}, #{type,jdbcType=TINYINT},
		#{valid,jdbcType=TINYINT},#{updater_fk,jdbcType=CHAR},
		#{creator_fk,jdbcType=CHAR},
		now(), now())
	</insert>

	<insert id="insertSelective" parameterType="com.csjbot.robot.biz.pms.model.PmsAdvertisement">
		INSERT INTO pms_advertisement
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="memo != null">
				memo,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="valid != null">
				valid,
			</if>
			<if test="updater_fk != null">
				updater_fk,
			</if>
			<if test="creator_fk != null">
				creator_fk,
			</if>
			<if test="date_update != null">
				date_update,
			</if>
			<if test="date_create != null">
				date_create,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=CHAR},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="memo != null">
				#{memo,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				#{type,jdbcType=TINYINT},
			</if>
			<if test="valid != null">
				#{valid,jdbcType=TINYINT},
			</if>
			<if test="updater_fk != null">
				#{updater_fk,jdbcType=CHAR},
			</if>
			<if test="creator_fk != null">
				#{creator_fk,jdbcType=CHAR},
			</if>
			<if test="date_update != null">
				#{date_update,jdbcType=TIMESTAMP},
			</if>
			<if test="date_create != null">
				#{date_create,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="com.csjbot.robot.biz.pms.model.PmsAdvertisement">
		UPDATE pms_advertisement
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="memo != null">
				memo = #{memo,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				type = #{type,jdbcType=TINYINT},
			</if>
			<if test="valid != null">
				valid = #{valid,jdbcType=TINYINT},
			</if>
			<if test="updater_fk != null">
				updater_fk = #{updater_fk,jdbcType=CHAR},
			</if>
			<if test="creator_fk != null">
				creator_fk = #{creator_fk,jdbcType=CHAR},
			</if>
			date_update = now(),
			<if test="date_create != null">
				date_create = #{date_create,jdbcType=TIMESTAMP}
			</if>
		</set>
		WHERE id = #{id,jdbcType=CHAR}
	</update>

	<update id="updateByPrimaryKey" parameterType="com.csjbot.robot.biz.pms.model.PmsAdvertisement">
		UPDATE pms_advertisement
		SET name = #{name,jdbcType=VARCHAR},
		memo = #{memo,jdbcType=VARCHAR},
		type = #{type,jdbcType=TINYINT},
		valid = #{valid,jdbcType=TINYINT},
		updater_fk = #{updater_fk,jdbcType=CHAR},
		creator_fk = #{creator_fk,jdbcType=CHAR},
		date_update = now(),
		date_create = #{date_create,jdbcType=TIMESTAMP}
		WHERE id = #{id,jdbcType=CHAR}
	</update>
</mapper>